@import "./variables.scss";


section {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: $text-color;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    transition: height 0.5s;
}

a h2{
    color: $text-color;
}

@mixin folded-corner {
    &::after {
        content: '';
        
        border-top: 20px solid $corner-color;
        border-right: 20px solid $background-color;
        width: 0;
        height: 0;
        display: block;
        
        position: absolute;
        bottom: 0;
        right: 0;
    }

}

.section-intro {
    background: $colored-background;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 20px;
    font-size: 24px;
    @include folded-corner;
    p {
        margin: 0;
    }
}

.next-arrow {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
}

@media (min-width: 800px) {
    .section-intro {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

.no-shadow {
    transition: box-shadow 0.3s;
}

.mini-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s;
}
.mini-shadow-hover:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s;
}

.large-shadow-hover:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: box-shadow 0.3s;
}

.hover-darken {
    transition: background 0.3s ease;
}
.hover-darken:hover {
    background: $hover-background-color;
    transition: background 0.3s easel
}
