@import "./variables.scss";

.fullscreen {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: $background-color;
    position: relative;
}

section {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: $text-color;
}


@mixin folded-corner {
    &::after {
        content: '';
        
        border-top: 20px solid $corner-color;
        border-right: 20px solid $background-color;
        width: 0;
        height: 0;
        display: block;
        
        position: absolute;
        bottom: 0;
        right: 0;
    }

}

.section-intro {
    background: $colored-background;
    position: relative;
    box-sizing: border-box;
    min-height: 50px;
    padding: 20px;
    font-size: 24px;
    @include folded-corner;
}

.next-arrow {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
}